<form method="post" action="{{ path('countries_delete', {'idCountry': country.idCountry}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.idCountry) }}">
    <button class="btn">Delete</button>
</form>
