// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.header
{
    margin-bottom: 5%;
    top:0;
    width:100%;
}

.main {
    padding: 75px 15px 195px;
}

.footer
{
    background-color: black;
    color: antiquewhite;
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}