{% extends 'base.html.twig' %}

{% block title %}Edit UnemploymentFund{% endblock %}

{% block body %}
    <h1>Edit UnemploymentFund</h1>

    {{ include('unemployment_fund/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unemployment_fund_index') }}">back to list</a>

    {{ include('unemployment_fund/_delete_form.html.twig') }}
{% endblock %}
