{% extends 'base.html.twig' %}

{% block title %}New UnemploymentFund{% endblock %}

{% block body %}
    <h1>Inscription d'une nouvelle caisse de chômage</h1>

    {{ include('unemployment_fund/_form.html.twig') }}

    <a href="{{ path('unemployment_fund_index') }}">back to list</a>
{% endblock %}
