<!DOCTYPE html>
<html>
 <body>
    <div class='footer'>
       
            {# Footer #}
<footer id class="page-footer font-small blue pt-4">

    {# Footer Links #}
    <div class="container-fluid text-center text-md-left">

      {# Grid row #}
      <div class="row">

        {# Grid column #}
        <div class="col-md-6 mt-md-0 mt-3">

          {# Content #}
          <h5 class="text-uppercase">Lab4Tech ERP</h5>
          <p>Bienvenue sur l'ERP de Lab4Tech. Cet espace vous permet de saisir les candidat inscrit au stage Lab4Tech et de les rattacher à un conseiller ORP.</p>

        </div>
        {# Grid column #}

        <hr class="clearfix w-100 d-md-none pb-3">

        {# Grid column #}
        <div class="col-md-3 mb-md-0 mb-3">

            {# Links #}
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.lab4tech.ch/app/extranet2.nsf/Home_Home.xsp">Connexion Extranet</a>
              </li>
              <li>
                <a href="https://lab4tech.ch/app/website.nsf/www.xsp?p=INSCRIPTION">Inscription au bilan complémentaire </a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          {# Grid column #}

          {# Grid column #}
          <div class="col-md-3 mb-md-0 mb-3">

            {# Links #}
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Information</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          {# Grid column #}

      </div>
      {# Grid row #}

    </div>
    {# Footer Links #}

    {# Copyright #}
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.lab4tech.ch/"> Lab4Tech.ch</a>
    </div>
    {# Copyright #}

  </footer>
  {# Footer #}
          
    </div>
  </body>    
</html>
